<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    <!-- 좌측 메뉴 -->
    <nav>
      <a href="../product.html">선글라스</a>
      <a href="#">안경</a>
      <a href="#">컬렉션</a>
      <a href="#">스토어</a>
      <a href="#">더 알아보기</a>
    </nav>

    <!-- 가운데 로고 -->
    <div class="logo">
        <img src="./assets/logo/logo1.png">
    </div>

    <!-- 우측 아이콘 -->
    <div class="utility">
      <a href="../search.html"><img src="./assets/icons/search1.png" alt="검색"></a>
      <a href="../login.html"><img src="./assets/icons/mypage1.png" alt="마이페이지"></a>
      <a href="../cart.html"><img src="./assets/icons/cart1.png" alt="장바구니"></a>
    </div>
  </header>
</body>
</html>